.App {
  font-family: 'Bebas Neue', cursive;
}
.App-logo {
  width: 50px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: whitesmoke;
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.App-main {
  margin-top: 150px;
}
/********/
/*Inputs*/
/********/
.form-control {
  border: 0;
  background-color: transparent;
  border-bottom: 2px solid black !important;
  border-radius: 0;
  outline: none !important;
}
input:focus, select:focus, select, input.form-control:focus {

  outline:none !important;

  outline-width: 0 !important;

  box-shadow: none;

  -moz-box-shadow: none;

  -webkit-box-shadow: none;

}
/*
Colors
*/
.color1 {color: #df7913;}
.color2 {color: #e3a515;}
.color3 {color: #efd867;}
.color4 {color: #f8efba;}
.color5 {color: #f8efed;}